@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#servicos a{
    color: #00ff02;
}

li, a, button{
    font-family:'Montserrat', sans-serif ;
    font-weight: 500;
    font-size: 16px;
    color:#fff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(25, 105, 25, 0.7);
}

.logo{
    width: 160px;
    height:60px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.logo:hover{
    transform: scale(1.05);
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #00ff02;
}

button{
    cursor: pointer;
}

#botao_login{
padding: 9px 25px;
background-color: rgb(0, 160, 0);
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
box-shadow: 2px 2px 9px black;
}

#botao_login:hover{
    background-color: rgba(0, 160, 0, 0.8);
    transform: scale(1.1);
}





body{
    background-color:beige;
    height: 800px;
    background-image: url(../imgs/farm4.png);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#container{
    background-color: rgba(255,255,255, 0.7);
    border-radius: 15px;
    height: 500px;
    width: 900px;
    margin-top: 100px;
    margin-left: 300px;
}


.compras img{
    height: 400px;
    width: 350px;
    box-shadow: 3px 3px 12px black;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 50px;
    transition: all 0.3s ease 0s;
}

.compras img:hover{
    transform: scale(1.1);
}

.compras{
    display: flex;
    gap: 4px ;
    height: 50%;
}

.compras div{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.compras h1{
    font-weight: bold;
    font-size: 28px;
}

.compras h2{
    font-size: 24px;
    color: #000000aa;
    border-spacing: 50px;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: justify;
}

.compras scan{
    font-size: 22px;
}

.compras button{
    margin-top: 60px;
    background-color: #1a781d;
    border: none;
    width: 385px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    padding: 9px 25px;
    transition: all 0.3s ease 0s;
}

.compras button:hover{
    cursor: pointer;
    background-color: #149700;
    transform: scale(1.05);
}
