@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to left, rgba(30, 64, 30, 0.7), rgba(7, 31, 14, 0.7) );
    font-family: 'Montserrat', sans-serif;
}

#servicos a{
    color: #00ff02;
}

li, a, button{
    font-family:'Montserrat', sans-serif ;
    font-weight: 500;
    font-size: 16px;
    color:#fff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(25, 105, 25, 0.7);
}

.logo{
    width: 160px;
    height:60px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.logo:hover{
    transform: scale(1.05);
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #00ff02;
}

button{
    cursor: pointer;
}

#botao_login{
padding: 9px 25px;
background-color: rgb(0, 160, 0);
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
box-shadow: 2px 2px 9px black;
}

#botao_login:hover{
    background-color: rgba(0, 160, 0, 0.8);
    transform: scale(1.1);
}




#servicos{
    color: #00ff02;
}

#secao1{
    display: flex;
    margin-top: 80px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.secao2{
    display: flex;
    margin-top: 80px;
    margin-left: 150px;
    margin-bottom: 80px;
}

#secao1 h1{
    font-size: 35px;
    color: #fff;
}

.secao2 h1{
    font-size: 30px;
    color: #fff;
}

.videos img{
    width: 380px;
    height: 190px;
    box-shadow: 2px 2px 8px black;
    transition: all 0.3s ease 0s;
    border-radius: 8px;
    margin-right: 20px;
}
.videos img:hover{
    transform: scale(1.02);
}

hr{
    border-color: black;
}
